.header{
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 100%;
  border: 2px dotted ridge;
  justify-content: center;
  align-items: center;
  background-color:cornflowerblue;
  background-image: url("https://www.transparenttextures.com/patterns/inflicted.png");
  
}

.header-img img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.header-img{
  display: flex;
  justify-content: center;
}


