nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100vw;
  height: 6vh;
  padding-right: 1.5em;
  padding-left: 1em;
  background-color: #e887bb;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  color: #FFFFFF;
  z-index: 1;
  top: 0px
}

.nav-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  font-size: initial;
}

.fas {
  color: red;
  transform: translateY(-20px);
}

.fa-solid, .fas{
  font-weight: 900;
  font-size: x-small;
  padding-top: 0.5rem;
}


/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav{
    background-color: #4056A1;
    background-image: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1700px)  {
  nav{
    background-color: #4056A1;
    background-image: none;
  }
} */
