.new-tweet-form{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.submitbttn-counter-container{
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
  font-family: bungee;
  font-weight: 600;

}

#tweet-text{
  padding-top: 20px;
  margin-bottom: 0.5em;
  margin-top: 2.5rem;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom-width: thick;
  border-bottom-color: black;
  background-color: #f4f1ec;
  font-weight: 600;

}